<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Cloud Ops Principles</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Cloud Ops Principles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-360348df81c6459195da040275737e0b.png" alt="Cloud Ops Principles" usemap="#id-360348df81c6459195da040275737e0bmap"/>
			   <map name="id-360348df81c6459195da040275737e0bmap">
				  		<area shape="rect" coords="442,286,839,341" href="../elements/id-090b1fe9a1ce42db91eafebf3d15379e.html"  target="element">
				  		<area shape="rect" coords="442,218,839,273" href="../elements/id-f735d3e7f86c4f59bb176e8fa1c50ed0.html"  target="element">
				  		<area shape="rect" coords="442,146,839,201" href="../elements/id-623d95490c7e4d6e9cf2b904dda5c7fa.html"  target="element">
				  		<area shape="rect" coords="442,74,839,129" href="../elements/id-911c22909ac946d3b4ce74a50fd24362.html"  target="element">
				  		<area shape="rect" coords="442,10,839,65" href="../elements/id-79aaca43d84d4b228bc9297e6232a03d.html"  target="element">
				  		<area shape="rect" coords="10,358,407,413" href="../elements/id-e168ccc54fdb4a00a7579fce1f9a9534.html"  target="element">
				  		<area shape="rect" coords="10,286,407,341" href="../elements/id-fd9772be10504df99622d87a9903c1c4.html"  target="element">
				  		<area shape="rect" coords="10,218,407,273" href="../elements/id-fe70993de5f4419aaeeebdf147e82731.html"  target="element">
				  		<area shape="rect" coords="10,146,407,201" href="../elements/id-c7ac277ef3b44b0c942949b2eaaf8cee.html"  target="element">
				  		<area shape="rect" coords="10,74,407,129" href="../elements/id-733c3747dd344beb93a7b9ab0b36060a.html"  target="element">
				  		<area shape="rect" coords="10,10,407,65" href="../elements/id-d4f0ea2b7e7b43f39eb26cc85ac4df24.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d4f0ea2b7e7b43f39eb26cc85ac4df24.html" target="element"> Design systems as highly modular and loosely coupled services </a> </td>
											    <td> <a href="../elements/id-d4f0ea2b7e7b43f39eb26cc85ac4df24.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-733c3747dd344beb93a7b9ab0b36060a.html" target="element"> Design systems' components with smallest blast radius in mind </a> </td>
											    <td> <a href="../elements/id-733c3747dd344beb93a7b9ab0b36060a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c7ac277ef3b44b0c942949b2eaaf8cee.html" target="element"> Build to support zero-downtime deployments </a> </td>
											    <td> <a href="../elements/id-c7ac277ef3b44b0c942949b2eaaf8cee.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fe70993de5f4419aaeeebdf147e82731.html" target="element"> Use distributed architectures </a> </td>
											    <td> <a href="../elements/id-fe70993de5f4419aaeeebdf147e82731.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd9772be10504df99622d87a9903c1c4.html" target="element"> Expose services, including existing ones, through APIs </a> </td>
											    <td> <a href="../elements/id-fd9772be10504df99622d87a9903c1c4.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e168ccc54fdb4a00a7579fce1f9a9534.html" target="element"> Design for cloud mobility </a> </td>
											    <td> <a href="../elements/id-e168ccc54fdb4a00a7579fce1f9a9534.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79aaca43d84d4b228bc9297e6232a03d.html" target="element"> Prioritize open source </a> </td>
											    <td> <a href="../elements/id-79aaca43d84d4b228bc9297e6232a03d.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-911c22909ac946d3b4ce74a50fd24362.html" target="element"> Enforce service models in order of preference: SaaS, PaaS, IaaS </a> </td>
											    <td> <a href="../elements/id-911c22909ac946d3b4ce74a50fd24362.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-623d95490c7e4d6e9cf2b904dda5c7fa.html" target="element"> Create reusable components that support accessibility </a> </td>
											    <td> <a href="../elements/id-623d95490c7e4d6e9cf2b904dda5c7fa.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f735d3e7f86c4f59bb176e8fa1c50ed0.html" target="element"> Prioritize function over form without losing sight of elegance </a> </td>
											    <td> <a href="../elements/id-f735d3e7f86c4f59bb176e8fa1c50ed0.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-090b1fe9a1ce42db91eafebf3d15379e.html" target="element"> Zero trust all the things -- assume breach perspective </a> </td>
											    <td> <a href="../elements/id-090b1fe9a1ce42db91eafebf3d15379e.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>