<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Enterprise Risk Model</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Enterprise Risk Model</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b921d35998854c3f9cae9f0ece821a3e.png" alt="Enterprise Risk Model" usemap="#id-b921d35998854c3f9cae9f0ece821a3emap"/>
			   <map name="id-b921d35998854c3f9cae9f0ece821a3emap">
				  		<area shape="rect" coords="530,445,667,500" href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html"  target="element">
				  		<area shape="rect" coords="530,351,667,406" href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html"  target="element">
				  		<area shape="rect" coords="530,237,667,292" href="../elements/id-21db736b4d634e26907e0516b0127b04.html"  target="element">
				  		<area shape="rect" coords="714,237,851,292" href="../elements/id-d4b278e6bf254a99b46bdcf9cb40fbf7.html"  target="element">
				  		<area shape="rect" coords="178,445,315,500" href="../elements/id-a1e7bf1ac7df46c68800bc20e51e8606.html"  target="element">
				  		<area shape="rect" coords="178,125,315,180" href="../elements/id-015b4b0a428345339c7b2d653de47004.html"  target="element">
				  		<area shape="rect" coords="530,125,667,180" href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html"  target="element">
				  		<area shape="rect" coords="346,13,483,68" href="../elements/id-12a4c21904dd448d803380a01b222f8d.html"  target="element">
				  		<area shape="rect" coords="178,13,315,68" href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html"  target="element">
				  		<area shape="rect" coords="10,13,147,68" href="../elements/id-6acbfec9ec2943caae9fec7ceeaa66ab.html"  target="element">
				  		<area shape="rect" coords="530,13,667,68" href="../elements/id-695b9c74172a4067be42a0158b77d436.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-695b9c74172a4067be42a0158b77d436.html" target="element"> Assessment </a> </td>
											    <td> <a href="../elements/id-695b9c74172a4067be42a0158b77d436.html" target="element" class="i18n-elementtype-Assessment">
											    	(Risk)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6acbfec9ec2943caae9fec7ceeaa66ab.html" target="element"> Hacktivist </a> </td>
											    <td> <a href="../elements/id-6acbfec9ec2943caae9fec7ceeaa66ab.html" target="element" class="i18n-elementtype-BusinessActor">
											    	(Threat Agent)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html" target="element"> Website Hack </a> </td>
											    <td> <a href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Threat Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12a4c21904dd448d803380a01b222f8d.html" target="element"> Loss of Reputation </a> </td>
											    <td> <a href="../elements/id-12a4c21904dd448d803380a01b222f8d.html" target="element" class="i18n-elementtype-BusinessEvent">
											    	(Loss Event)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html" target="element"> Secure Data </a> </td>
											    <td> <a href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html" target="element" class="i18n-elementtype-Goal">
											    	(Control Objective)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element"> Unpatched Servers  </a> </td>
											    <td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element" class="i18n-elementtype-Assessment">
											    	(Vulnerability)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a1e7bf1ac7df46c68800bc20e51e8606.html" target="element"> Resource </a> </td>
											    <td> <a href="../elements/id-a1e7bf1ac7df46c68800bc20e51e8606.html" target="element" class="i18n-elementtype-Resource">
											    	(Asset at Risk)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4b278e6bf254a99b46bdcf9cb40fbf7.html" target="element"> Up to date systems </a> </td>
											    <td> <a href="../elements/id-d4b278e6bf254a99b46bdcf9cb40fbf7.html" target="element" class="i18n-elementtype-Principle">
											    	(Security Principle)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21db736b4d634e26907e0516b0127b04.html" target="element"> Requirement </a> </td>
											    <td> <a href="../elements/id-21db736b4d634e26907e0516b0127b04.html" target="element" class="i18n-elementtype-Requirement">
											    	(Security Requirement)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html" target="element"> Regular Patching </a> </td>
											    <td> <a href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html" target="element" class="i18n-elementtype-Requirement">
											    	(Control Measure)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html" target="element"> Patching Service </a> </td>
											    <td> <a href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html" target="element" class="i18n-elementtype-BusinessService">
											    	(Implemented Control Measure)
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a5187680da2a471db26d7fe5342ca990.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5187680da2a471db26d7fe5342ca990.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-695b9c74172a4067be42a0158b77d436.html" target="element"> Assessment </a> </td>
																		<td> <a href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html" target="element"> Secure Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1bd72fa5fda448ceb6cf0f106aa9d0a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bd72fa5fda448ceb6cf0f106aa9d0a9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6acbfec9ec2943caae9fec7ceeaa66ab.html" target="element"> Hacktivist </a> </td>
																		<td> <a href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html" target="element"> Website Hack </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b7910d95b2d42d1af267c650d85e162.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b7910d95b2d42d1af267c650d85e162.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html" target="element"> Website Hack </a> </td>
																		<td> <a href="../elements/id-12a4c21904dd448d803380a01b222f8d.html" target="element"> Loss of Reputation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-abf1cf1cd71a46b8930cab8e7b0b66fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abf1cf1cd71a46b8930cab8e7b0b66fd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-12a4c21904dd448d803380a01b222f8d.html" target="element"> Loss of Reputation </a> </td>
																		<td> <a href="../elements/id-695b9c74172a4067be42a0158b77d436.html" target="element"> Assessment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c39fb7cee05348f6a904acbc42f0e1d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c39fb7cee05348f6a904acbc42f0e1d4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element"> Unpatched Servers  </a> </td>
																		<td> <a href="../elements/id-a1e7bf1ac7df46c68800bc20e51e8606.html" target="element"> Resource </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a51c9aa58cb443bf92c54df592978380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a51c9aa58cb443bf92c54df592978380.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element"> Unpatched Servers  </a> </td>
																		<td> <a href="../elements/id-12a4c21904dd448d803380a01b222f8d.html" target="element"> Loss of Reputation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91d178361a404d1a8c5d3bedb28fd956.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91d178361a404d1a8c5d3bedb28fd956.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element"> Unpatched Servers  </a> </td>
																		<td> <a href="../elements/id-11a6cf3008034929b9015cf9b67f31e0.html" target="element"> Website Hack </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8cae74d86b67417f923a403765009ceb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8cae74d86b67417f923a403765009ceb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a1e7bf1ac7df46c68800bc20e51e8606.html" target="element"> Resource </a> </td>
																		<td> <a href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html" target="element"> Patching Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-81a978307a684094bce199d0e12349d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81a978307a684094bce199d0e12349d0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d4b278e6bf254a99b46bdcf9cb40fbf7.html" target="element"> Up to date systems </a> </td>
																		<td> <a href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html" target="element"> Secure Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0fbbd67c55e6400ab1d99c756f8e9115.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fbbd67c55e6400ab1d99c756f8e9115.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-21db736b4d634e26907e0516b0127b04.html" target="element"> Requirement </a> </td>
																		<td> <a href="../elements/id-2a81a02a7d994ce7ae285d946630a526.html" target="element"> Secure Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6b91ba3fe824403bbc25daaef02866d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6b91ba3fe824403bbc25daaef02866d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html" target="element"> Regular Patching </a> </td>
																		<td> <a href="../elements/id-d4b278e6bf254a99b46bdcf9cb40fbf7.html" target="element"> Up to date systems </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1fb974d40b1b423db4d9800f6dab27f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1fb974d40b1b423db4d9800f6dab27f9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html" target="element"> Regular Patching </a> </td>
																		<td> <a href="../elements/id-21db736b4d634e26907e0516b0127b04.html" target="element"> Requirement </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4c8772e6efd147ab9421eeaf7761999d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c8772e6efd147ab9421eeaf7761999d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html" target="element"> Patching Service </a> </td>
																		<td> <a href="../elements/id-4d4780fd52684a4d8a1fd1d8941b4ba9.html" target="element"> Regular Patching </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-698eb7d41361430488ce76a8381ba535.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698eb7d41361430488ce76a8381ba535.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-54d4e9dfe4b947749b2ea75f7e0bdea3.html" target="element"> Patching Service </a> </td>
																		<td> <a href="../elements/id-015b4b0a428345339c7b2d653de47004.html" target="element"> Unpatched Servers  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>