<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Role Assignment Prototype 1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Role Assignment Prototype 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fd9932824ce143d9b08807dc69b393fe.png" alt="Role Assignment Prototype 1" usemap="#id-fd9932824ce143d9b08807dc69b393femap"/>
			   <map name="id-fd9932824ce143d9b08807dc69b393femap">
				  		<area shape="rect" coords="538,10,658,65" href="../elements/id-faacf45854074eb8b1b6b56b7d5f9120.html"  target="element">
				  		<area shape="rect" coords="118,10,238,65" href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html"  target="element">
				  		<area shape="rect" coords="406,226,634,346" href="../elements/id-71c6002c59d249a385927804bf6d1c13.html"  target="element">
				  		<area shape="rect" coords="214,202,394,346" href="../elements/id-3cdac7a527a24bc9879c20d9b157aea6.html"  target="element">
				  		<area shape="rect" coords="10,250,202,346" href="../elements/id-36ddd7532fd242b9b701734e568dee1e.html"  target="element">
				  		<area shape="rect" coords="754,568,874,623" href="../elements/id-516df20ddb284ced88d1b08ac2470a01.html"  target="element">
				  				<area shape="rect" coords="1102,640,1222,695" href="../elements/id-54587ba509c64291ad3ee396a0f58086.html"  target="element">
				  				<area shape="rect" coords="1102,484,1222,539" href="../elements/id-74fe68809d344b5996238e8fd5d61c4b.html"  target="element">
				  				<area shape="rect" coords="1114,1060,1234,1115" href="../elements/id-071019a6dc184a9197b95f155a772e18.html"  target="element">
				  				<area shape="rect" coords="1102,568,1222,623" href="../elements/id-7133a5772f984485a1443ff82e7954bd.html"  target="element">

				  		<area shape="rect" coords="1030,388,1319,1288" href="../elements/id-f0069d3705114e5285753be6c8e264f4.html"  target="element">
				  						<area shape="rect" coords="430,1168,550,1223" href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html"  target="element">
				  						<area shape="rect" coords="286,1168,406,1223" href="../elements/id-dc5a4b2780654a52bbbae5739e0f671d.html"  target="element">
				  						<area shape="rect" coords="138,1168,258,1223" href="../elements/id-a63c5cfd61b44efdb884161c2b67edab.html"  target="element">
				  						<area shape="rect" coords="430,1102,550,1157" href="../elements/id-ee438cf62f87414e951489f9c6ee3b5d.html"  target="element">
				  						<area shape="rect" coords="287,1102,407,1157" href="../elements/id-f1379dea55b9459c887c0177732fe7a9.html"  target="element">
				  						<area shape="rect" coords="138,1102,258,1157" href="../elements/id-736723e560c44e6b9601f35e3961ffa5.html"  target="element">

				  				<area shape="rect" coords="118,1060,562,1240" href="../elements/id-20227f000c004bb68c5d3df3e2f3dfef.html"  target="element">
				  						<area shape="rect" coords="430,952,550,1007" href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html"  target="element">
				  						<area shape="rect" coords="286,952,406,1007" href="../elements/id-bf804c49cdc443d7aff2ba070e3a2a72.html"  target="element">
				  						<area shape="rect" coords="146,952,266,1007" href="../elements/id-ab2e783c80f643dba5918acc46c790f3.html"  target="element">
				  						<area shape="rect" coords="428,878,548,933" href="../elements/id-36c5b1cc24a34e47a5736ef8917b9b86.html"  target="element">
				  						<area shape="rect" coords="286,878,406,933" href="../elements/id-77e2a5fda98848fca8c5224334b5a94e.html"  target="element">
				  						<area shape="rect" coords="146,878,266,933" href="../elements/id-cbd0508799934a6187bdc3d6c6997bae.html"  target="element">

				  				<area shape="rect" coords="118,844,563,1049" href="../elements/id-b28eaa48ca644446ac12b8434a086308.html"  target="element">
				  						<area shape="rect" coords="285,748,405,803" href="../elements/id-072e3c5364d44277b8494cc23bd3ec31.html"  target="element">
				  						<area shape="rect" coords="429,748,549,803" href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html"  target="element">
				  						<area shape="rect" coords="141,748,261,803" href="../elements/id-adfc3e49b8954925a70706d071b996db.html"  target="element">
				  						<area shape="rect" coords="285,676,405,731" href="../elements/id-eb7b5988fbd149e587ab54d4ec57c9ad.html"  target="element">
				  						<area shape="rect" coords="429,676,549,731" href="../elements/id-49a7253343eb4302ab054e6a101478b0.html"  target="element">
				  						<area shape="rect" coords="141,676,261,731" href="../elements/id-0a64b84ce6a2417db9607a224c14b703.html"  target="element">

				  				<area shape="rect" coords="117,640,562,833" href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html"  target="element">
				  						<area shape="rect" coords="286,484,406,539" href="../elements/id-3ef6bae52ddb453e9cd1fa69ad9a181d.html"  target="element">
				  						<area shape="rect" coords="142,484,262,539" href="../elements/id-3e3f060737dc462eb96cb38c4ba84e50.html"  target="element">
				  						<area shape="rect" coords="142,556,262,611" href="../elements/id-5b47605490bd4bea8a4067ca0b0e8e32.html"  target="element">
				  						<area shape="rect" coords="286,556,406,611" href="../elements/id-9dd6952730dd407a97f5a93b0278f572.html"  target="element">
				  						<area shape="rect" coords="419,484,539,539" href="../elements/id-0b0ec1bb829743e28e8de36cf5854c13.html"  target="element">
				  						<area shape="rect" coords="419,556,539,611" href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html"  target="element">

				  				<area shape="rect" coords="118,436,563,629" href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html"  target="element">

				  		<area shape="rect" coords="10,388,658,1289" href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
											    <td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
													    <td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-0b0ec1bb829743e28e8de36cf5854c13.html" target="element"> Security Engineer </a> </td>
															    <td> <a href="../elements/id-0b0ec1bb829743e28e8de36cf5854c13.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9dd6952730dd407a97f5a93b0278f572.html" target="element"> Platform Administrator </a> </td>
															    <td> <a href="../elements/id-9dd6952730dd407a97f5a93b0278f572.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5b47605490bd4bea8a4067ca0b0e8e32.html" target="element"> Data Pipeline Engineer </a> </td>
															    <td> <a href="../elements/id-5b47605490bd4bea8a4067ca0b0e8e32.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3e3f060737dc462eb96cb38c4ba84e50.html" target="element"> Cloud Infrastructure Engineer  </a> </td>
															    <td> <a href="../elements/id-3e3f060737dc462eb96cb38c4ba84e50.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3ef6bae52ddb453e9cd1fa69ad9a181d.html" target="element"> Resilience Engineer </a> </td>
															    <td> <a href="../elements/id-3ef6bae52ddb453e9cd1fa69ad9a181d.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
													    <td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0a64b84ce6a2417db9607a224c14b703.html" target="element"> Innovation Lead </a> </td>
															    <td> <a href="../elements/id-0a64b84ce6a2417db9607a224c14b703.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-49a7253343eb4302ab054e6a101478b0.html" target="element"> Cloud Architect </a> </td>
															    <td> <a href="../elements/id-49a7253343eb4302ab054e6a101478b0.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-eb7b5988fbd149e587ab54d4ec57c9ad.html" target="element"> Technology Scout </a> </td>
															    <td> <a href="../elements/id-eb7b5988fbd149e587ab54d4ec57c9ad.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-adfc3e49b8954925a70706d071b996db.html" target="element"> Software Developer </a> </td>
															    <td> <a href="../elements/id-adfc3e49b8954925a70706d071b996db.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-072e3c5364d44277b8494cc23bd3ec31.html" target="element"> Data Scientist </a> </td>
															    <td> <a href="../elements/id-072e3c5364d44277b8494cc23bd3ec31.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b28eaa48ca644446ac12b8434a086308.html" target="element"> Lifecycle Operations </a> </td>
													    <td> <a href="../elements/id-b28eaa48ca644446ac12b8434a086308.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-cbd0508799934a6187bdc3d6c6997bae.html" target="element"> Service Desk Technician </a> </td>
															    <td> <a href="../elements/id-cbd0508799934a6187bdc3d6c6997bae.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-77e2a5fda98848fca8c5224334b5a94e.html" target="element"> Configuration Manager </a> </td>
															    <td> <a href="../elements/id-77e2a5fda98848fca8c5224334b5a94e.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-36c5b1cc24a34e47a5736ef8917b9b86.html" target="element"> Capacity Manager </a> </td>
															    <td> <a href="../elements/id-36c5b1cc24a34e47a5736ef8917b9b86.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ab2e783c80f643dba5918acc46c790f3.html" target="element"> Operations Manager </a> </td>
															    <td> <a href="../elements/id-ab2e783c80f643dba5918acc46c790f3.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-bf804c49cdc443d7aff2ba070e3a2a72.html" target="element"> Release Manager </a> </td>
															    <td> <a href="../elements/id-bf804c49cdc443d7aff2ba070e3a2a72.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-20227f000c004bb68c5d3df3e2f3dfef.html" target="element"> Technology Governance Secretariat </a> </td>
													    <td> <a href="../elements/id-20227f000c004bb68c5d3df3e2f3dfef.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-736723e560c44e6b9601f35e3961ffa5.html" target="element"> Policy Developer </a> </td>
															    <td> <a href="../elements/id-736723e560c44e6b9601f35e3961ffa5.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f1379dea55b9459c887c0177732fe7a9.html" target="element"> Change Manager </a> </td>
															    <td> <a href="../elements/id-f1379dea55b9459c887c0177732fe7a9.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ee438cf62f87414e951489f9c6ee3b5d.html" target="element"> Architecture Review Board Member </a> </td>
															    <td> <a href="../elements/id-ee438cf62f87414e951489f9c6ee3b5d.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a63c5cfd61b44efdb884161c2b67edab.html" target="element"> Technology Advisory Council Member </a> </td>
															    <td> <a href="../elements/id-a63c5cfd61b44efdb884161c2b67edab.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-dc5a4b2780654a52bbbae5739e0f671d.html" target="element"> Enterprise Architect </a> </td>
															    <td> <a href="../elements/id-dc5a4b2780654a52bbbae5739e0f671d.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
															    <td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element" class="i18n-elementtype-BusinessRole">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
											    <td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7133a5772f984485a1443ff82e7954bd.html" target="element"> Sebastien </a> </td>
													    <td> <a href="../elements/id-7133a5772f984485a1443ff82e7954bd.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-071019a6dc184a9197b95f155a772e18.html" target="element"> Bainer </a> </td>
													    <td> <a href="../elements/id-071019a6dc184a9197b95f155a772e18.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74fe68809d344b5996238e8fd5d61c4b.html" target="element"> Mike </a> </td>
													    <td> <a href="../elements/id-74fe68809d344b5996238e8fd5d61c4b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
													    <td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-516df20ddb284ced88d1b08ac2470a01.html" target="element"> Manager </a> </td>
											    <td> <a href="../elements/id-516df20ddb284ced88d1b08ac2470a01.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36ddd7532fd242b9b701734e568dee1e.html" target="element"> Deploy Modern Data Infrastructure, interoperable data pipelines and advanced data analytics </a> </td>
											    <td> <a href="../elements/id-36ddd7532fd242b9b701734e568dee1e.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3cdac7a527a24bc9879c20d9b157aea6.html" target="element"> Enable the integration of data, surveillance and other sources of intelligence to anticipate and understand public health risks and prompt timely action to address them. </a> </td>
											    <td> <a href="../elements/id-3cdac7a527a24bc9879c20d9b157aea6.html" target="element" class="i18n-elementtype-Goal">
											    	(Control Objective)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-71c6002c59d249a385927804bf6d1c13.html" target="element"> Serve as PHAC's centre of expertise and corporate authority for data, surveillance, risk assessment, behavioural science and knowledge mobilization.  </a> </td>
											    <td> <a href="../elements/id-71c6002c59d249a385927804bf6d1c13.html" target="element" class="i18n-elementtype-Goal">
											    	(Control Objective)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html" target="element"> Integrate </a> </td>
											    <td> <a href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-faacf45854074eb8b1b6b56b7d5f9120.html" target="element"> Drive Change </a> </td>
											    <td> <a href="../elements/id-faacf45854074eb8b1b6b56b7d5f9120.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-04bb970e87a44f458b110b8ee464d5ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04bb970e87a44f458b110b8ee464d5ac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																		<td> <a href="../elements/id-3cdac7a527a24bc9879c20d9b157aea6.html" target="element"> Enable the integration of data, surveillance and other sources of intelligence to anticipate and understand public health risks and prompt timely action to address them. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cac930e2b724e0a945351f869c402ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cac930e2b724e0a945351f869c402ef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																		<td> <a href="../elements/id-71c6002c59d249a385927804bf6d1c13.html" target="element"> Serve as PHAC's centre of expertise and corporate authority for data, surveillance, risk assessment, behavioural science and knowledge mobilization.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8686a772680c4aa4b5bd2888a6047853.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8686a772680c4aa4b5bd2888a6047853.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																		<td> <a href="../elements/id-36ddd7532fd242b9b701734e568dee1e.html" target="element"> Deploy Modern Data Infrastructure, interoperable data pipelines and advanced data analytics </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3d23462dd69c4d25b7e5f00fef17ad95.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d23462dd69c4d25b7e5f00fef17ad95.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																				<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-d17aae7c64a64f379b72c3f37a3133a6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-d17aae7c64a64f379b72c3f37a3133a6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-1211ec55da654232a227de66b5cf624b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-1211ec55da654232a227de66b5cf624b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0b0ec1bb829743e28e8de36cf5854c13.html" target="element"> Security Engineer </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-a6a03a8e6ec0418d92cac298980901d9.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-a6a03a8e6ec0418d92cac298980901d9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-9dd6952730dd407a97f5a93b0278f572.html" target="element"> Platform Administrator </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-eb8a389cc0be41bf8a0a4e64673a58a0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-eb8a389cc0be41bf8a0a4e64673a58a0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5b47605490bd4bea8a4067ca0b0e8e32.html" target="element"> Data Pipeline Engineer </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-fdfe0872130641a3839c8f0088c9d354.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-fdfe0872130641a3839c8f0088c9d354.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3e3f060737dc462eb96cb38c4ba84e50.html" target="element"> Cloud Infrastructure Engineer  </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-177bf2d91ce64f249208ea1d1baadd42.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-177bf2d91ce64f249208ea1d1baadd42.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-3ef6bae52ddb453e9cd1fa69ad9a181d.html" target="element"> Resilience Engineer </a> </td>
																						<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/id-039605c423f1400e9f3e54304bbd4cbe.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-039605c423f1400e9f3e54304bbd4cbe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0a64b84ce6a2417db9607a224c14b703.html" target="element"> Innovation Lead </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-039605c423f1400e9f3e54304bbd4cbe.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-039605c423f1400e9f3e54304bbd4cbe.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-0a64b84ce6a2417db9607a224c14b703.html" target="element"> Innovation Lead </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-5458278c654e4f9b98ba7e504da0ddf1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5458278c654e4f9b98ba7e504da0ddf1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-49a7253343eb4302ab054e6a101478b0.html" target="element"> Cloud Architect </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-68641ba9e02843e6a92d0aa0736571ba.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-68641ba9e02843e6a92d0aa0736571ba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-eb7b5988fbd149e587ab54d4ec57c9ad.html" target="element"> Technology Scout </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-017ff2d50b5f4887b52b32d052999fb6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-017ff2d50b5f4887b52b32d052999fb6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-adfc3e49b8954925a70706d071b996db.html" target="element"> Software Developer </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-356cbe37c48c450eb1cc509736a04a35.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-356cbe37c48c450eb1cc509736a04a35.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-265af7ef137c4f68a803e464edf844c0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-265af7ef137c4f68a803e464edf844c0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-072e3c5364d44277b8494cc23bd3ec31.html" target="element"> Data Scientist </a> </td>
																						<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ae897b150d594b7e8cc4527871a699aa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ae897b150d594b7e8cc4527871a699aa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b28eaa48ca644446ac12b8434a086308.html" target="element"> Lifecycle Operations </a> </td>
																				<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-45850c7515e748b7b101b37f0313f2c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45850c7515e748b7b101b37f0313f2c4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-20227f000c004bb68c5d3df3e2f3dfef.html" target="element"> Technology Governance Secretariat </a> </td>
																				<td> <a href="../elements/id-0eba1eac728e4eecad7eef53452b3ea5.html" target="element"> Digital Platform and Technology Management </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-b444e679f7994d5f9db0db1c0d47805c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b444e679f7994d5f9db0db1c0d47805c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-b28eaa48ca644446ac12b8434a086308.html" target="element"> Lifecycle Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba51bd6e72404d16b64361b517384cab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba51bd6e72404d16b64361b517384cab.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-f5ab16050ec747798e4a6eb2b541c063.html" target="element"> Platform Management and Engineering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-db6ec71f48114a4cbd9abf23e0c1b869.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db6ec71f48114a4cbd9abf23e0c1b869.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-7133a5772f984485a1443ff82e7954bd.html" target="element"> Sebastien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f002430eb22d4d528fd59c0084d989e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f002430eb22d4d528fd59c0084d989e8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-20227f000c004bb68c5d3df3e2f3dfef.html" target="element"> Technology Governance Secretariat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43420634ad494d5ca5de4ee056a4b2d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43420634ad494d5ca5de4ee056a4b2d7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-6e4846a389e84994aa551f2a94ef27fd.html" target="element"> Innovation and Development </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-482e382d196249ec84f3cc9a3b9d11a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-482e382d196249ec84f3cc9a3b9d11a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-071019a6dc184a9197b95f155a772e18.html" target="element"> Bainer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-79a12f634c38402ba4b973643fefce91.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79a12f634c38402ba4b973643fefce91.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-74fe68809d344b5996238e8fd5d61c4b.html" target="element"> Mike </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-808482f395e64a069d93a7dd2c140ba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-808482f395e64a069d93a7dd2c140ba4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f0069d3705114e5285753be6c8e264f4.html" target="element"> Platform &amp; Development&#8203; Group </a> </td>
																		<td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-1d6c71fa7c9847388eb0dd8f78917b27.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d6c71fa7c9847388eb0dd8f78917b27.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7133a5772f984485a1443ff82e7954bd.html" target="element"> Sebastien </a> </td>
																				<td> <a href="../elements/id-516df20ddb284ced88d1b08ac2470a01.html" target="element"> Manager </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a2bb3d135bcc4ffdbcbee115a036f865.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a2bb3d135bcc4ffdbcbee115a036f865.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-071019a6dc184a9197b95f155a772e18.html" target="element"> Bainer </a> </td>
																				<td> <a href="../elements/id-ee438cf62f87414e951489f9c6ee3b5d.html" target="element"> Architecture Review Board Member </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8828c877172b4355a22e2ce9e3731302.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8828c877172b4355a22e2ce9e3731302.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74fe68809d344b5996238e8fd5d61c4b.html" target="element"> Mike </a> </td>
																				<td> <a href="../elements/id-0b0ec1bb829743e28e8de36cf5854c13.html" target="element"> Security Engineer </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a67d49cbb2c844a59d42891f91a5300a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a67d49cbb2c844a59d42891f91a5300a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
																				<td> <a href="../elements/id-3e3f060737dc462eb96cb38c4ba84e50.html" target="element"> Cloud Infrastructure Engineer  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d9cf73b5ad404dbd89bf7a878a17ba8e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d9cf73b5ad404dbd89bf7a878a17ba8e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
																				<td> <a href="../elements/id-21ae157629484c6290c6f1ad35fe2796.html" target="element"> Team Lead </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d694c3cc0a244e37995cb935d24ec88e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d694c3cc0a244e37995cb935d24ec88e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
																				<td> <a href="../elements/id-49a7253343eb4302ab054e6a101478b0.html" target="element"> Cloud Architect </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-199fd40948024cbb992220e96c571a84.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-199fd40948024cbb992220e96c571a84.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-54587ba509c64291ad3ee396a0f58086.html" target="element"> Keith </a> </td>
																				<td> <a href="../elements/id-a63c5cfd61b44efdb884161c2b67edab.html" target="element"> Technology Advisory Council Member </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5b30757a477d410c86033cb9b81f61d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b30757a477d410c86033cb9b81f61d1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-36ddd7532fd242b9b701734e568dee1e.html" target="element"> Deploy Modern Data Infrastructure, interoperable data pipelines and advanced data analytics </a> </td>
																		<td> <a href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html" target="element"> Integrate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be4246d703384bcdb0c6ea865688b462.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be4246d703384bcdb0c6ea865688b462.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3cdac7a527a24bc9879c20d9b157aea6.html" target="element"> Enable the integration of data, surveillance and other sources of intelligence to anticipate and understand public health risks and prompt timely action to address them. </a> </td>
																		<td> <a href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html" target="element"> Integrate </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c4fc23b5950d4115a9fccef5a73159ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4fc23b5950d4115a9fccef5a73159ef.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71c6002c59d249a385927804bf6d1c13.html" target="element"> Serve as PHAC's centre of expertise and corporate authority for data, surveillance, risk assessment, behavioural science and knowledge mobilization.  </a> </td>
																		<td> <a href="../elements/id-faacf45854074eb8b1b6b56b7d5f9120.html" target="element"> Drive Change </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-294cfcb560cf4583a4264749978fa143.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-294cfcb560cf4583a4264749978fa143.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-71c6002c59d249a385927804bf6d1c13.html" target="element"> Serve as PHAC's centre of expertise and corporate authority for data, surveillance, risk assessment, behavioural science and knowledge mobilization.  </a> </td>
																		<td> <a href="../elements/id-d54c13055dd84be693a4ca6923195e6b.html" target="element"> Integrate </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>